{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
<div class="header wf-section">
    <div class="header-content">
        <h2 class="h2">B &middot; A &middot; N &middot; D &middot; A</h2>
        <h1 class="h1">¡CARUMBA!</h1>
    </div>
</div>
<div class="features wf-section">
    <div class="container cc-center">
        <div class="h2-container cc-center">
            <h2 class="h2 cc-center">
                {{ page.title }}
            </h2>
            <p class="paragraph">
                {% for block in page.body %}
                    {% if block.block_type == 'gig' %}
                        <div class="gig">
                            <h2>{{ block.value.date }}</h2>
                            <h3>{{ block.value.title }}</h3>

                        </div>
                    {% else %}
                        <section>{% include_block block %}</section>
                    {% endif %}
                {% endfor %}
            </p>
        </div>
    </div>
</div>
{% endblock %}

