
.bg-green {
    background-color: #186226ff;
}
.green {
    color: #186226ff;
}
.bg-yellow {
    background-color: #eddc01ff;
}
.yellow {
    color: #eddc01ff;
}

body {
    background-color: #efceb0;
}

.menu-bg {
    height: 100px;
    background-color: #222;
    margin-top: -90px
}

.carumba-logo {
    width: 70px;
    height: 70px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

@media (max-width: 479px) {
    .carumba-logo {
        width: 32px;
        height: 32px;
    }
}

.carumba-logo:hover {
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
}

.bg-video {
    position: absolute;
    height: 150%
}

a:active, a:hover {
    background: #ffffff55;
}

a {
    border-radius: 10px;
    background-color: transparent;
    padding: 4px 8px;
    transition-duration: 0.5s;
    text-decoration: none;
    color: darkred;
}