{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>
        {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
            {% wagtail_site as current_site %}
            {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
        {% endblock %}
    </title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Luckiest+Guy&family=Pacifico&display=swap" rel="stylesheet">
    {# Global stylesheets #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/carumba.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/webflow.css' %}">

    {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
    {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v13.0&appId=554691409696870&autoLogAppEvents=1" nonce="fxOx4zqz"></script>

{% wagtailuserbar %}

{% block extra_js %}
    {# Override this in templates to add extra javascript #}
{% endblock %}

<div class="navigation wf-section"></div>

<div data-collapse="medium" data-animation="default" data-duration="400"
     data-easing="ease-out" data-easing2="ease-out"
     role="banner" class="navigation w-nav">

    <div class="navigation-container">
        <a href="/" aria-current="page" class="logo w-inline-block w--current">
            <img
                    class="carumba-logo"
                    src="{% static "images/carumba.png" %}"
                    alt="">
        </a>
        <nav role="navigation" class="nav-menu w-nav-menu">
            <a href="/" class="nav-link w-nav-link">Home</a>
            <a href="/videos" class="nav-link w-nav-link">Video's</a>
            <a href="/fotos" class="nav-link w-nav-link">Foto's</a>
            <a href="/gigs" class="nav-link w-nav-link">Gigs</a>
            <a href="/promokit" class="nav-link w-nav-link">Promokit</a>
            <a href="/contact" class="nav-link w-nav-link">Contact</a>
        </nav>
        <div class="menu-button w-nav-button">
            <div class="icon-2 w-icon-nav-menu"></div>
        </div>
    </div>
    <div class="w-nav-overlay" data-wf-ignore="">
    </div>
</div>
{% block content %}
{% endblock %}
<div class="footer wf-section">
    <div class="container cc-footer">
        <div class="footer-column cc-footer">
            <div class="text-footer-credits">©2022 Banda Carumba</div>
        </div>
    </div>
</div>


<script
        src="//code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
</script>

{# Global javascript #}
<script type="text/javascript" src="{% static 'js/webflow.js' %}"></script>
<script type="text/javascript" src="{% static 'js/carumba.js' %}"></script>

<script>
    if (document.querySelector('video')) {
        document.querySelector('video').playbackRate = 0.5;
    }
</script>
<!-- http://propel-template.webflow.io/about -->
</body>
</html>
